<!-- From Uiverse.io by kamehame-ha -->
<app-sidebar></app-sidebar>
<div class="cards text-uppercase">
  <div class="card red">
    <p class="tip">Total Products</p>
    <p class="second-text">{{ products.length }}</p>
  </div>
  <div class="card blue">
    <p class="tip">Total Categories</p>
    <p class="second-text">8</p>
  </div>
  <div class="card green">
    <p class="tip">Pending Orders</p>
    <p class="second-text">{{ pendingOrdersCount }}</p>
  </div>
  <div class="card bg-secondary">
    <p class="tip">Completed Orders</p>
    <p class="second-text">{{ successOrdersCount }}</p>
  </div>
</div>
