<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <div class="d-flex">
  <app-sidebar></app-sidebar>
  <app-products></app-products> -->
<!-- <app-unauthorized></app-unauthorized> -->
<!-- <app-add-product></app-add-product> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-checkout></app-checkout> -->
<!-- </div> -->
<!-- <app-notfound></app-notfound> -->
<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-categories class="ms-5"></app-categories> -->
<!-- <app-products class="ms-5"></app-products> -->
<!-- <app-dashboard></app-dashboard> -->
<router-outlet></router-outlet>
<!-- <app-profile></app-profile> -->
<!-- <app-edit-product></app-edit-product> -->
<!-- <app-edit-product-user></app-edit-product-user> -->
<!-- <app-header></app-header> -->
<!-- <app-register></app-register> -->
<!-- <app-profile></app-profile> -->

<!-- <app-cart></app-cart> -->
<!-- <app-details-product></app-details-product> -->
<!-- <app-view-products></app-view-products> -->
<!-- <app-wishlist></app-wishlist> -->
<!-- <app-my-orders></app-my-orders> -->
