.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
a {
  cursor: pointer;
}

.hero .container {
  position: relative;
  z-index: 1;
}

.card {
  width: 195px;
  height: 285px;
  background: #313131;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e81cff;
  transition: 0.2s ease-in-out;
}
.cardPColor {
  color: #e81cff;
}

.img {
  height: 30%;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 1;
}

.textBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.2s ease-in-out;
  z-index: 2;
  color: #7e3e85;
}

.textBox > .text {
  font-weight: bold;
}

.textBox > .head {
  font-size: 20px;
}

.textBox > .price {
  font-size: 17px;
}

.textBox > span {
  font-size: 12px;
  color: #e81cff;
}

.card:hover > .textBox {
  opacity: 1;
}

.card:hover > .img {
  height: 65%;
  filter: blur(7px);
  animation: anim 3s infinite;
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.04) rotate(-1deg);
  color: #e81cff;
}

.footer {
  width: 100%;
  height: 100%;
  background: lightblue;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #3498db 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #3498db 20%);
  background-size: 30px 30px;
  animation: moveBackground 8s linear infinite;
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
}
.allProduct {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid rgb(0, 255, 119);
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px rgb(0, 157, 255);
}

.allProduct:hover {
  transform: translate(5px, -5px);
}
@media (max-width: 844px) {
  .product-card {
    height: 250px;
  }
  .con {
    margin-left: 70px;
  }

  .textBox {
    padding: 0.5rem !important;
  }

  .textBox p,
  .textBox span {
    font-size: 0.9rem !important;
  }
}
.wrapper .icon {
  position: relative;
  background: #fff;
  top: 10px;
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 10px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -30px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.wrapperAbout {
  width: 100%;
  height: 300px;
  top: -60px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.inner {
  --w: 120px;
  --h: 160px;
  --translateZ: 400px;
  --rotateX: -10deg;
  --perspective: 1200px;
  position: relative;
  width: var(--w);
  height: var(--h);
  z-index: 2;
  transform-style: preserve-3d;
  transform: perspective(var(--perspective));
  animation: rotating 25s linear infinite;
  margin: 0 auto;
}

@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(0);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(1turn);
  }
}

.cardAbout {
  width: var(--w);
  height: var(--h);
  position: absolute;
  border: 2px solid rgba(var(--color-card), 0.8);
  border-radius: 12px;
  overflow: hidden;
  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
  box-shadow: 0 0 10px rgba(var(--color-card), 0.5);
  background: rgba(var(--color-card), 0.2);
}

.imgAbout {
  width: 100%;
  height: 100%;
  display: flex;
}

.imgAbout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .wrapperAbout {
    height: 250px;
  }
  .inner {
    --w: 90px;
    --h: 135px;
    --translateZ: 300px;
    animation-duration: 35s;
  }
}
.hero {
  background: #f8f9fa;
  padding: 100px 0;
  text-align: center;
}
.shopItem i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #007bff;
}
.rating i {
  color: gold;
}
@media (max-width: 844px) {
}
